# Chat Service Settings
REDIS_URL=redis://redis:6379/0

# DynamoDB Local
DYNAMODB_URL=http://dynamodb:8000
AWS_REGION=us-west-2
AWS_ACCESS_KEY_ID=replace-with-access-key-or-dummy-for-local
AWS_SECRET_ACCESS_KEY=replace-with-secret-key-or-dummy-for-local

# JWT Verification
JWT_SHARED_SECRET=
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
JWT_ACCESS_COOKIE_NAME=access_token
